@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    font-family: "Mastro Sans";
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*cek md reference */
    
}

body{
    background-color: #faf7f2;;
}
img{
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
}

img:hover {
    scale: 102%;
}